[MASTER]
load-plugins=pylint_django
ignore=migrations,venv,__pycache__
init-hook='import sys; sys.path.append(".")'

[pylint_django]
django-settings-module=TaskPulse.settings

[DESIGN]
max-parents=10
min-public-methods=0
