version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taskpulse-web
    working_dir: /app
    command: >
      sh -c "
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        gunicorn TaskPulse.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 30
      "
    env_file:
      - .env.prod
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
      - redis
    ports:
      - "127.0.0.1:8000:8000"

  db:
    image: postgres:16
    container_name: taskpulse-db
    restart: always
    env_file:
      - .env.prod
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: taskpulse-redis
    restart: always

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taskpulse-celery
    working_dir: /app
    command: celery -A TaskPulse.celery_app:celery_app worker -l info
    env_file:
      - .env.prod
    depends_on:
      - db
      - redis

  beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taskpulse-beat
    working_dir: /app
    command: celery -A TaskPulse.celery_app:celery_app beat -l info
    env_file:
      - .env.prod
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  static_volume:
  media_volume:
