/* src/app/styles/theme.css */

:root {
  /* Базовый тёмный фон */
  --bg: #020617;
  --bg-elevated: #020617;
  --bg-header: #020617;
  --bg-footer: #020617;

  --border-subtle: #111827;

  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;

  /* Новый фирменный цвет под стиль главной */
  --accent: #a3ff12;
  --accent-hover: #84cc16;

  --radius-lg: 16px;
}
